html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")
        title Users
    body 
        table 
            thead 
                tr 
                    th(colspan="100%", class="exempt") 
                        form(style="display: flex; flex-direction: column;" action="/create-User" method="get")
                            button(type="submit")  Add New User
                tr
                    each val in Object.keys(users[0])
                        th= val
                    td 
            tbody 
                each va, index in users 
                    tr 
                        each val in users[index]
                            td= val
                        th(class="exempt")
                            form(action=`/user/${userDatabase[index].id}`, method="get") 
                                button(type="submit") Edit